<!DOCTYPE html>
<html>
    <head th:replace="fragments/head"></head>
    <body>
        <!--Barra de navegación-->
        <nav th:replace="fragments/navbar"></nav>
        <!--Sección Hero-->
        <div class="container-fluid">
            <!--Formulario-->
            <form class="formulario" action="/noticia/cargado" method="POST">
                <div class="mb-3">
                    <label class="form-label">Título de la noticia</label>
                    <input class="form-control" type="text" name="titulo">
                </div>
                <div class="mb-3">
                    <label class="form-label">Cuerpo de la noticia</label>
                    <textarea class="form-control" name="cuerpo" rows="6"></textarea>
                </div>
                <button class="btn btn-primary mt-3 botones" type="submit">Guardar</button>
            </form>
            <!--Mensaje al usuario-->
            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <!--Botón volver-->
            <section class="text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>
        </div>
        <!--Footer-->
        <footer th:replace="fragments/footer"></footer>
        <!-- JavaScript-->
        <script th:replace="fragments/jsBootstrap"></script>
    </body>
</html>
